<div role="contentinfo" class="addr__section--background">

	<address class="addr__box sm-margin">

		<div class="addr__logo">
			<a title="URL" role="link" href="#" class="addr__logo--href">
				<img class="img-fluid align-self-center" alt="Picture" title="Picture" src="../media/img/main-page-assets/footer-logo.png">
			</a>
		</div>
		<div class="addr__phone">
			<a title="URL" role="link" href="#" class="addr__phone-item addr__phone--main">+7 (495) 120-92-57</a>
			<a title="URL" role="link" href="#" class="addr__phone-item">info@trio.ru </a>
		</div>
		<div class="addr__info">
			<a title="URL" role="link" href="#" class="addr__info-item">Личный кабинет</a>
			<a title="URL" role="link" href="#" class="addr__info-item">Политика конфиденциа́льности</a>
		</div>
		<div class="addr__social">
 
			<a title="URL" role="link" href="#" class="addr__social-item"><svg role="picture-svg" class="glyphs__footer-social-1"><use xlink:href="#id-glyphs-footer-social-1"></use></svg></a>
			<a title="URL" role="link" href="#" class="addr__social-item"><svg role="picture-svg" class="glyphs__footer-social-2"><use xlink:href="#id-glyphs-footer-social-2"></use></svg></a>
			<a title="URL" role="link" href="#" class="addr__social-item"><svg role="picture-svg" class="glyphs__footer-social-3"><use xlink:href="#id-glyphs-footer-social-3"></use></svg></a>
			<a title="URL" role="link" href="#" class="addr__social-item"><svg role="picture-svg" class="glyphs__footer-social-4"><use xlink:href="#id-glyphs-footer-social-4"></use></svg></a>
		</div>
	</address>

	<address class="addr-other__box--background">
		<div class="addr-other__box sm-margin">
			<p class="addr-other__text">© ТРИО-Интерьер, 2018. Интернет-магазин мебели из Италии и Германии</p>
		</div>
	</address>

</div>
