<div role="navigation" class="navigate__section--background navigate__menu--background">

	<nav class="navigate__box">
		<div class="navigate__logo">
			<a title="URL" href="#" class="navigate__logo--href">
				<img class="img-fluid align-self-center" alt="Picture" title="Picture" 
				src="../media/img/main-page-assets/header-logo.png">
			</a>
		</div>
		<div class="navigate__list">
			<a title="URL" role="link" href="#" class="navigate__list-item">о нас</a>
			<a title="URL" role="link" href="#" class="navigate__list-item">проекты</a>
			<a title="URL" role="link" href="#" class="navigate__list-item">блог</a>
			<a title="URL" role="link" href="#" class="navigate__list-item">отзывы</a>
			<a title="URL" role="link" href="#" class="navigate__list-item">производительность</a>
			<a title="URL" role="link" href="#" class="navigate__list-item">где купить</a>
		</div>
		<div class="navigate__phone">
			<div class="navigate__phone-item"><span>+7 (495) 125-46-35</span></div>
			<div class="navigate__phone-item">с 10 до 20, ежедневно</div>
		</div>
		<div class="navigate__basket">
			<div class="navigate__basket-item--svg">
			
				<a class="navigate__href" title="URL" role="link" href="#">
					<svg role="img" class="glyphs__shopping-cart"><use xlink:href="#id-glyphs-shopping-cart"></use></svg>
				<span>Корзина</span>
			
			</a>
			</div>
			<div class="navigate__basket-item"><p class="navigate__p">1 458 890</p> <span>&#8381;</span></div>
		</div>
	</nav>

	<nav class="navigate-other__box--background">
		<div class="navigate-other__box">
			<a title="URL" role="link" href="#" class="navigate-other__item">Каталог товаров</a>
			<a title="URL" role="link" href="#" class="navigate-other__item">Мебель по стилям</a>
			<a title="URL" role="link" href="#" class="navigate-other__item">Дизайнерская мебель</a>
			<a title="URL" role="link" href="#" class="navigate-other__item">Элитная мебель</a>
			<a title="URL" role="link" href="#" class="navigate-other__item">
				<svg role="picture-svg" class="glyphs__checked"><use xlink:href="#id-glyphs-checked"></use></svg>
				<span>Наличие</span></a>
			<a title="URL" role="link" href="#" class="navigate-other__item">
				<svg role="picture-svg" class="glyphs__percent"><use xlink:href="#id-glyphs-percent"></use></svg>
				<span>Распродаж</span></a>
			<a title="URL" role="link" href="#" class="navigate-other__item">
				<svg role="picture-svg" class="glyphs__gift"><use xlink:href="#id-glyphs-gift"></use></svg>
				<span>Подарки</span></a>
			<a title="URL" role="link" href="#" class="navigate-other__item">
				<svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg>
			</a>
		</div>
	</nav>


	<div class="hamburger__menu js__navHamburger">
		<span class="hamburger__line">&nbsp;</span>
		<span class="hamburger__line">&nbsp;</span>
		<span class="hamburger__line">&nbsp;</span>
	</div>
</div>
