/* ==== HEADER ==== */
navigate {
	+__() {
		.section--background {
			background-size cover
			background-position center center
			background-color $$null
		}
		.box {
			display: grid;
			grid: 1fr \/ repeat(4, auto);
			grid-gap: 0 2rem;
			align-items: center;
			justify-content: space-between;
			max-width 1200px
			min-height 96px
			margin auto
			+media(768) {
				display none
			}
		}
		.logo {
			display: grid;
		}
		.list {
			display: grid;
			grid: 1fr \/ repeat(6, auto);
			grid-gap: 0.8rem
			width 100%
			
		}
		.list-item {
			display: grid;
			font-size 14px
			color: #2f2f2f;
			text-transform uppercase
			text-decoration none
			padding 4px 7px
			border-bottom 1px solid #0000
			transition .25s __cubic
			&:hover {
				border-bottom 1px solid #000
				padding 4px 7px
			}
		}
		.phone {
			display: grid;
			grid: auto \/ 1fr;
			gap: .3rem;
		}
		.phone-item {
			font-size 16px
			color: #787878;
		}
		.phone-item span {
			font-size 22px
			color: #2f2f2f;
			font-weight bold
		}
		.basket {
			display: grid;
			grid: auto \/ 1fr;
		}
		.basket-item--svg {
			display: grid;
			grid: auto \/ auto;
			text-transform: uppercase;
			font-size: 14px;
			justify-content: center;
			align-items: center;
			margin-right .3rem
		}
		.basket-item {
			display: grid;
			grid: auto \/ auto auto
			gap: 0.2rem;
			justify-content: end;
			font-weight 700
		}
		.menu--background {
			+media(768) {
				background: #0000;
				padding: 0 1rem 2rem;
				transition .25s __cubic
			}
		}
		.p {
			margin 0
		}
		.href {
			margin 0
			@extend .navigate__basket-item--svg
			grid: auto \/ auto auto;
			gap: 0.4rem;
			text-decoration none
			color: #2f2f2f
		}
	}
}

navigate-other {
	+__() {
		.box--background {
			display: grid;
			background-color: #00aeac;
			min-height 50px
		}
		.box {
			display: grid;
			grid: auto \/ repeat(auto-fit, minmax(3rem, auto));
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
			max-width 1200px
			margin auto
			width 100%
			+media(768) {
				grid: auto \/ repeat(auto-fit, minmax(10rem, auto));
				justify-content: center;
				align-items: center;
				gap: 0.3rem;
				padding: 1rem;
			}
		}
		.item {
			color: #fff;
			font-size 18px
			text-decoration none
			padding 4px 7px
			display: grid;
			grid: auto \/ auto auto;
			align-items: baseline;
			justify-content: center;
			gap: 0.2rem;
			transition .25s __cubic
			border 1px solid #0000
			&:hover {
				border 1px solid #fff
			}
		}
	}
}

hamburger {
	+__() {
		.menu {
			display none
			user-select none
			+media(768) {
				display: grid;
				grid repeat(3, 1fr) / 1fr
				grid-gap: .5rem 0
				position fixed
				right 1rem
				top 1rem
				z-index 1
				transition .25s __cubic
				&:hover {
					cursor pointer
				}
			}
		}
		.line {
			width: 2rem;
			height: .25rem;
			display: grid;
			background-color: $$aqua;
			border-radius: 1rem 1rem 1rem 1rem;
			transition .25s __cubic
		}
	}
}
/* ==== ----- ==== */