//============================
//    Name: Index.html
//    Desc: Main page
//============================
 

bread {
	+__() {
		.section--background {
			background-size cover
			background-position center center
		}
		.box {
			display: grid;
			grid: auto \/ repeat(5, auto);
			justify-content: start;
			align-items center
			max-width 1200px
			margin 25px auto 0 auto
			grid-gap: .5rem
			+media(545) {
				margin: 1rem;
				gap: 0.4rem;
				grid: auto \/ repeat(auto-fit, minmax(8rem, auto));
			}
		}
		.item {
			display: grid;
			color: $$aqua
			position relative
			padding-right 1rem
			font-size 14px
			&:not(:last-child):after {
				content: '>';
				display: grid;
				font-size: 14px;
				line-height: 1;
				text-align: center;
				position: absolute;
				right 0
				top 0
				transform translate(0, 15%)
			}
			&:last-child {
				color: #787878;
			}
		}
	}
}

gallery {
	+__() {
		.section--background {
			background-size cover
			background-position center center
		}
		.box {
			display: grid;
			grid: auto \/ 1fr;
			max-width 1200px
			margin auto
		}
		.title {
			display: grid;
			font-size 36px
			color: $$black;
			margin 45px 1rem 0
			font-weight 300
			+media(425) {
				font-size 2rem
			}
		}
		.logic {
			display: grid;
			grid: auto / 1fr 1fr 400px
			justify-content: center;
			align-items: start;
			margin 40px 0
			padding: 0.3rem 0;
			overflow: hidden;
			+media(1200) {
				grid: auto \/ auto auto auto;
			}
			+media(545) {
				grid: auto \/ 1fr;
				margin 40px 1rem 1rem
			}
		}
		.fullimg {
			display: grid;
			max-width: 550px;
			width: 550px;
			position relative
			+media(992) {
				display none
			}
		}
		.fullsize {
			display: grid;
			justify-content: center;
			align-items: center;
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 550px;
			background-position: 50% 50%;
			background-color #ececec;
			overflow: hidden;
			position: relative;
		}
		.bonus {
			position absolute
			display: grid;
			left 0
			top 0
			margin 20px
			background-color $$aqua;
			border-radius 100%
			width 50px
			height 50px
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight 700
			font-size 16px
		}
		.content {
			display: grid;
			transform: rotate(90deg);
			max-width: 100px;
			margin-right: 100px;
			margin-left 50px;
			//hack
			visibility hidden;
			+media(1200) {
				margin-right 2rem
			}
			+media(992) {
				margin 2rem
			}
			+media(545) {
				display none !important
			}
		}
		.item {
			transform: rotate(-90deg);
			max-width: 100px;
			max-height: 100px;
			width: 100px;
			height: 100px;
			background-color #ededed;
			display: grid;
			justify-content: center;
			align-items: center;
			transition .25s __cubic
			cursor pointer
			border 1px solid #f1f1f1
			&:hover {
				border 1px solid $$aqua
				box-shadow: 0px 0px 0px 2px rgba(1, 174, 172, 0.35), 0px 0px 0px 3px rgba(1, 174, 172, 0.55);
			}
			&:active {
				box-shadow: 0px 0px 0px 2px rgba(1, 174, 172, 0.35), 0px 0px 0px 3px rgba(1, 174, 172, 0.55);
			}
			&:focus {
				box-shadow: 0px 0px 0px 2px rgba(1, 174, 172, 0.35), 0px 0px 0px 3px rgba(1, 174, 172, 0.55);
			}
		}
		.info {
			background-color #fff;
			position relative
			&:before {
				content: '';
				display: grid;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #f2f2f2;
				position: absolute;
				z-index 123
			}
		}
		.result {
			visibility hidden;
			display: grid;
			position: absolute;
			right: -127%;
			top: 0;
			background: #ececec;
			background-size cover;
			background-position center center;
			background-repeat no-repeat;
			width: 100%;
			height: 100%;
			transform scale(.8)
			z-index 123
			border 2px solid #0000;
			box-shadow: 0 1px 7px rgba(0,0,0,0.07), 0 7px 13px rgba(0,0,0,0.13);
			radius: 12px
		}
		.lenz {
			position: absolute;
			border: 1px solid rgba(0,0,0, .30);
			width: 199px;
			height: 199px;
			background-color rgba(#fff, .30)
			cursor none;
		}
		.image-place {
			width 100%
			height 100%
			background-color #ddd;
			background-size cover;
			background-position center center;
			background-repeat no-repeat;
		}
		.nav {
			position: relative;
			display: grid;
			align-items: center;
			justify-content: center;
			left: 0;
			top: -336.66px;
			height: 0;
			width: 0;
			margin: auto;
			+media(768) {
				left: -46%;
				top: -19.04125rem;
			}
		}
		.nav-item {
			width 100px
			height 33px
			display: grid;
			align-items: center;
			justify-content: center;
			position absolute
			cursor pointer
			transition .25s __cubic
			user-select none
			&:hover svg {
				transition .25s __cubic
				stroke: $$aqua
			}
		}
		.nav-up {
			top -18.5rem
		}
		.nav-down {
			top 18.5rem
			+media(768) {
				top 16.5rem
			}
		}
	}
}

.gallery__info.no-before {
	&:before {
		content: none;
	}
}

.gallery__owl-theme {
	& .owl-stage-outer {
		overflow unset !important
	}
	& .owl-nav {
		position absolute
		top: 0;
	}
	& .owl-dots {
		position absolute
		display none
	}
	& .owl-item {
		background-color #eee;
		radius: 12px;
		width 100px
		height 100px
	}
}

.history__owl-theme,
.catalog__owl-theme {
	& .owl-stage-outer {
		padding 2rem 0
	}
	& .owl-nav {
		position absolute
		top: 0;
	}
	& .owl-dots {
		position absolute
		display none
	}
}
 

gallery-data {
	+__() {
		.item {
			display: grid;
			grid: auto \/ .9fr 1fr;
			gap: 1rem;
			margin-bottom 19px
			color: #787878;
		}
		.color {
			height 242px
			margin-bottom 20px
			+media(425) {
				margin-left 3rem
			}
		}
		.name {
		}
		.text {
			color: $$black;
		}
		.text--main {
			text-transform uppercase
			color: $$aqua
		}
		.text--primal {
			color: $$aqua
		}
	}
}

gallery-price {
	+__() {
		.box {
			display: grid;
			grid: auto \/ auto 1fr auto;
			background-color #f8f8f8;
			width 400px
			height 100px
			justify-content: center;
			align-items: center;
			padding 0 25px
		}
		.column {
			display: grid;
			grid-column: 3
		}
		.status {
			font-size 14px
			color: $$black;
			margin-bottom 6px
		}
		.main {
			font-size 26px
			color: $$black;
			font-weight 900
			position relative
			&:before {
				content: '\20BD';
				display: grid;
				font-size: 26px;
				color: #2f2f2f;
				line-height: 1;
				text-align: center;
				position: absolute;
				right -1.3rem
				top 0
				transform translate(0, 5%)
			}
		}
		.primal {
			color: #787878;
			display: inline-grid;
			font-size 14px
			position: relative;
			&:before {
				@extend .gallery-price__main:before
				color: #787878;
				font-size 14px
				right -.8rem
			}
			&:after {
				content: '';
				display: grid;
				width: 130%;
				height: 0.5rem;
				line-height: 1;
				text-align: center;
				color: #787878;
				font-size: 0.875rem;
				position: absolute;
				border-bottom: 1px solid;
				left: 0;
				top: 0;
			}
		}
		.button {
			width 200px
			height 40px
			background-color $$aqua
			display: grid;
			justify-content: center;
			align-items: center;
			color: #fff;
			border none
			cursor pointer
			transition .25s __cubic
			&:hover {
				background-color darken($$aqua, 9%)
			}
			&:active {
				background-color darken($$aqua, 23%)
			}
		}
 	}
}


gallery-share {
	+__() {
		.box {
			display: grid;
			grid: auto \/ 1fr auto;
			gap 1rem
			justify-content: center;
			align-items: center;
			margin 30px 0
		}
		.text {
			display: inline-grid;
			color: $$aqua
			background-image: linear-gradient(45deg, $$aqua 50%, #0000 0%);
			background-position: bottom;
			background-size: 0.5rem 1px;
			background-repeat: repeat-x;
		}
		.group {
			display: grid;
			grid: auto \/ repeat(4, 1fr) auto;
			gap: .3rem;
		}
		.item {
			width 29px
			height 29px
			border 1px solid $$aqua
			display: grid;
			justify-content: center;
			align-items: center;
			color: $$aqua
			font-size 1rem
			transition .25s __cubic
			cursor pointer
			user-select none
			&:hover {
				background-color $$aqua
				color: #fff;
				fill: #fff;
			}
		}
		.button {
			display: grid;
			align-items: center;
			justify-content: center;
			border none
			text-decoration none
			radius 100%
			width 29px
			height 29px
			background-color #0000
		}
		.button-add {
			cursor pointer
			background-color #ff6343
			radius 100%
			width 20px
			height 20px
			font-size: 1.3rem;
			color: #fff;
			transition .25s __cubic
			&:hover {
				transform scale(1.3)
			}
		}
		.button-counter {
			@extend .gallery-share__button-add
			background-color #eaeaeb
			color: #2f2f2f;
			font-size: 14px;
			align-items: center;
			display: grid;
			justify-content: center;
			font-weight: 600;
			border 1px solid #eaeaeb
			position relative
			&:before {
				content: '';
				display: grid;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-right:5px solid #eaeaeb; 
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				position: absolute;
				left: -0.3rem;
				top 4px
			}
		}
 	}
}

.gallery-share__item:hover svg {
	fill: #fff;
}

gallery-tags {
	+__() {
		.box {
			display block
			margin 0 -1px
		}
		.item {
			display: inline-grid;
			background-color #f8f8f8;
			padding 7px 10px
			font-size 14px
			color: $$aqua
			transition .25s __cubic
			cursor pointer
			margin 1.5px 0
			&:hover {
				background-color $$aqua
				color: #fff;
			}
		}
 	}
}

about {
	+__() {
		.box {
			display: grid;
			grid: auto \/ 1fr 2fr 200px;
			max-width 1200px
			height 227px
			background-color #f8f8f8;
			margin 30px auto
			padding: 3rem 1rem;
			justify-content: center;
			align-items: start;
			transition .25s __cubic
			+media(768) {
				grid: auto \/ repeat(auto-fit, minmax(14rem, auto));
				height auto
			}
			&:hover {
				box-shadow: 0 1px 7px rgba(0,0,0, .07), 0 7px 13px rgba(0,0,0, .13);
				+media(768) {
					box-shadow none
				}
			}
		}
		.tabs {
			display: grid;
			grid: auto \/ repeat(auto-fit, minmax(14rem, auto));
			justify-content: center;
			align-items: center;
			margin: 0 100px;
			+media(768) {
				margin 0
				gap: 1rem;
				grid: auto \/ repeat(auto-fit, minmax(5rem, auto));
				font-size .8rem
			}
			+media(450) {
				grid: auto \/ repeat(auto-fit, minmax(5rem, auto));
			}
		}
		.item {
			text-transform uppercase
			padding-bottom 15px
			margin-bottom 15px
			border-bottom 1px solid #d4d4d4
			cursor pointer
			transition .25s __cubic
			color: #787878;
			&:hover {
				color: $$black;
				border-bottom 1px solid $$aqua
			}
		}
		.info {
			display: grid;
			grid: auto \/ 1fr;
		}
		.other {
			display: grid;
			grid: auto \/ 1fr;
			justify-content: center;
			align-items: center;
			margin auto;
			margin-top -1.4rem
			+media(768) {
				margin-top unset
			}
		}
		.other--text {
			margin-top 1rem
			line-height: 150%;
			color: $$aqua
			font-size 1rem
		}
		.p {
			margin 0
			font-size 16px
			line-height: 200%;
			margin-top: -0.6rem;
			color: $$black;
			margin-bottom 1rem
			max-height: 100px;
			overflow: hidden;
		}
		.p--color {
			color: $$aqua
		}
		.text {
			display none
			max-height: 100px;
			+media(768) {
				max-height unset
			}
		}
 	}
}

.about__text.active {
	display: grid;
}

film {
	+__() {
		.box {
			display: grid;
			margin auto
			grid: auto \/ 1fr;
			max-width 1200px
		}
		.title {
			@extend .gallery__title
			justify-content: center;
			align-items: center;
		}
		.content {
			margin-top 45px
			position relative
		}
		.play {
			width: 100px;
			height: 100px;
			position: absolute;
			left: 46%;
			top: 50%;
			transform: translate(0, -50%);
			background-color: #fff9;
			border-radius: 100% 100% 100% 100%;
			cursor pointer
			transition .25s __cubic
			&:hover {
				background-color #fffe;
			}
			&:before {
				content: '';
				display: grid;
				width: 14px;
				height: 16px;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				position: absolute;
				border-top: 1.25rem solid #0000;
				border-bottom: 1.25rem solid #0000;
				border-left: 1.65rem solid #000000bf;
				left: 42%;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		.embed {
			position: absolute;
			left: 0;
			top: 0;
			display: grid;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
}

special {
	+__() {
		.box {
			display: grid;
			grid: auto \/ 1fr;
			max-width 1200px
			margin auto
		}
		.content {
			display: grid;
			grid: auto \/ repeat(auto-fit, minmax(12rem, auto));
		}
		.item {
			display: grid;
			justify-content: center;
			align-items: center;
			text-align center
		}
		.title {
			@extend .gallery__title
			justify-content center
			margin-top 70px
		}
		.img {
			display: grid;
			justify-content: center;
			align-items: center;
			position relative
			padding 2rem
			&:before {
				content: '';
				display: grid;
				width: 4.375rem;
				height: 4.375rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #00aeac26;
				position: absolute;
				border-radius: 100% 100% 100% 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.name {
			font-size 50px
			font-weight 900
			color: $$aqua
		}
		.name--sup {
			font-size 27px
			top -1.15rem
		}
		.primal {
			font-size 20px
			font-weight 900
			color: $$black
		}
	}
}

catalog, history {
	+__() {
		.box {
			display: grid;
			grid: auto \/ 1fr;
			margin auto
		}
		.title {
			display: grid;
			grid: auto \/ auto auto;
			gap 3rem
			justify-content: center;
			align-items: center;
			margin 65px 0 40px
			+media(768) {
				grid: auto \/ repeat(auto-fit, minmax(20rem, auto));
				gap: 1rem;
			}
		}
		.title-name {
			font-size 25.66px
			font-weight 300
		}
		.title-url {
			@extend .gallery-share__text
			font-size 25.66px
			font-weight 300
		}
		.content {
			display: none;
			min-height 429px
			// grid: auto \/ repeat(auto-fit, minmax(1rem, 320px))
		}
		.img {
			display: grid;
			align-items: stretch;
			// height: 283px;
		}
		
		.item {
			display: grid;
			grid: 1fr \/ 1fr;
			border 1px solid #e4e4e4;
			border-left 0
			transition .25s __cubic
			overflow hidden
			display: grid;
			align-items: stretch;
			height: 100%;
			+media(768) {
				border-left 1px solid #e4e4e4
				margin-left 2rem
				margin-right 2rem
			}
			&:hover {
				transform scale(1.025) translate(0, -5px)
				border 0 solid #0000
				radius 8px
				box-shadow: 0 14px 28px rgba(0,0,0,0.14), 0 10px 10px rgba(0,0,0,0.12);
			}
		}
		.nav {
			display: grid;
			grid: auto \/ 1fr 1fr;
			margin auto
			justify-content: center;
			align-items: center;
			margin 8px auto
			text-align center
			gap 1rem
		}
		.nav-item {
			display: grid;
			justify-content: center;
			align-items: center;
			width 30px
			height 30px
			color: #666;
			transition .25s __cubic
			cursor pointer
			user-select none
			+media(425) {
				display none
			}
			&:hover svg {
				stroke: #fff;
			}
			&:hover {
				color: #fff;
				stroke: #fff;
				background-color $$aqua
			}
		}
	}
}

catalog-desc, history-desc {
	+__() {
		.box {
			display: grid;
			grid: auto \/ 1fr;
			padding 26px 34px
			gap 15px
			background-color #fff
			margin-bottom 3px
		}
		.title {
			font-size 16px;
			font-weight 400;
			color: $$aqua;
			text-transform uppercase;
		}
		.text {
			color: $$black;
		}
		.price {
			display: grid;
			grid: auto / 1fr 1fr;
			align-items: baseline;
		}
		.cost {
			font-size 20px
			font-weight 700
			color: $$black
		}
		.status {
			margin-left auto
		}
	}
}

history {
	+__() {
		.title {
			grid: auto \/ auto;
		}
	}
}
 
mail {
	+__() {
		.section--background {
			background-size cover
			background-position center center
			background-color #ddd
			background-attachment: fixed;
			background-repeat: no-repeat;
			position relative
			&:before {
				content: '';
				display: grid;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #0006;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.box {
			display: grid;
			grid: auto \/ 1fr;
			gap: 1rem;
			justify-content: center;
			align-items: center;
			max-width 680px
			margin auto
			padding 60px 0 70px
			position: relative;
			z-index: 1;
			+media(425) {
				gap: 3rem;
			}
		}
		.title {
			font-size 32px
			font-weight 300
			color: #fff;
			justify-content: center;
			align-items: center;
			text-align center
		}
		.buttons {
			display: grid;
			grid: auto \/ repeat(auto-fit, minmax(14rem, auto))
			gap: 41px;
			justify-content: center;
			align-items: center;
			+media(672) {
				gap: 1.5rem;
			}
			+media(425) {
				gap: 1rem;
			}
		}
		.btn {
			font-size 18px
			width 230px
			height 40px
			border 1px solid #fff;
			transition .25s __cubic
			background-color #0000;
			color: #fff;
			cursor pointer
			&:hover {
				background-color #fff;
				color: #000;
			}
		}
		.space {
			margin-top: 70px;
		}
	}
}

 

.sm-margin {
	+media(768) {
		margin-left 1rem
		margin-right 1rem
	}
}


 


